<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <div class="property">
        <img src="<%=@property["photos"].first["fullUrl"]%>" alt="">
        <p>Address: <%=@property["address"]%></p>
        <p>Bathrooms: <%=@property["bathrooms"]%> Bedrooms: <%=@property["bedrooms"]%></p>

        <%if !user_properties.find_by(domain_id: @property["id"])%>
            <form action="/property" method="post">
                <input type="hidden" name="id" value="<%=@property["id"]%>"></p>
                <button>Add Property</button>
            </form>
        <%end%>

        <form action="/comments" method="post">
            <input type="hidden" name="domain_id" value="<%=@property["id"]%>">
            <textarea name="content" placeholder="add comment"></textarea>
            <button>POST</button>
        </form>

        <%if @comments%>
            <% @comments.each do |comment|%>
                <div class="comment">
                    <p><%= comment.content%></p>
                    <p>Comment by: <%= User.find_by(id: comment.user_id).email%></p>
                </div>
            <%end%>    
        <%end%>
    </div>
</body>
</html>